<!doctype html>
<html>
  {% include 'head.njk' %}
  <body class="flex flex-col h-screen bg-stone">
    {% include 'nav-header.njk' %}
    {# TODO: Move these to appropriate page-type layouts #}
    {# TODO: Figure out how to make prose tables fill the width of the page #}
    <main
        class="flex-grow prose prose-lg prose-stone mx-auto prose-table:w-full prose-table:mx-auto"
    >
        {{ content | safe }}
    </main>
  </body>
</html>