<header class="bg-gray-200">
  <nav class="flex flex-row ">
    <a href="/">
      <h1>{{ meta.siteName }}</h1>
    </a>
    <a href="/notes/">Notes</a>
    <a href="/tags/">Tags</a>
  </nav>
</header>