---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
      - all
      - post
      - posts
      - note
      - notes
permalink: /tags/{{ tag | slug }}/
---
<h1>
    Notes tagged with <i>{{ tag | capitalizeFirst }}</i>!
</h1>
{% from 'macros/note-link-card.njk' import noteLinkCard %}
{% block content %}
  <content>
    {% for note in collections.notes %}
      {{ noteLinkCard(note) }}
    {% endfor %}
  </content>
{% endblock %}