---
pagination:
    data: collections.tags
    size: 1
    alias: tagObj
    filter:
      - all
      - post
      - posts
      - note
      - notes
permalink: /tags/{{ tagObj.tag | slug }}/
---
{% set tagTitleStr = tagObj.tag | default('UnTagged') %}
<h1>Notes tagged with <i>{{ tagTitleStr }}</i>!</h1>
{% from 'macros/note-link-card.njk' import noteLinkCard %}
<content>
  <h2>Notes</h2>
{# {{ tagObject | debugger }} #}
  {% for note in tagObj.items %}
    {# {{ note | debugger }} #}
    {{ noteLinkCard(note) }}
  {% endfor %}
  <h2>Associated Tags</h2>
  <ul>
    {% for associatedTag in tagObj.associatedTags %}
    <li><a href="/tags/{{ associatedTag }}">{{ associatedTag }}</a></li>
    {% endfor %}
  </ul>
</content>