{% block title %}
<h2>Most Recently Modified Notes</h2>
{% endblock %}

{% from 'macros/note-link-card.njk' import noteLinkCard %}
{% block content %}
  <content>
    {% for note in collections.notes %}
      {{ noteLinkCard(note) }}
    {% endfor %}
  </content>
{% endblock %}
  {# <a href="{{ note.url }}">
    <div>
      <h3>{{ note.data.title | default('Untitled!!!') }}</h3>
      <div>
        <span>Last Update: {{ note.data.modified | default('n/a') }}</span>
        <span>First Create: {{ note.data.created | default('n/a') }}</span>
        <span>Tags: {{ note.data.tags | default([]) | join(', ') }}</span>
      </div>
    </div>
  </a> #}
