{% block title %}
<h2>Most Recently Modified Notes</h2>
{% endblock %}

{% from 'macros/note-link-card.njk' import noteLinkCard %}
{% block content %}
  <content>
    {% for note in collections.notes %}
      {{ noteLinkCard(note) }}
    {% endfor %}
  </content>
{% endblock %}