---
permalink: '/notes/'
---
{% from 'macros/note-link-card.njk' import noteLinkCard %}
<h1>All Notes <i>by Update Time</i></h1>
<content>
  {% for note in collections.notes %}
    {{ noteLinkCard(note) }}
  {% endfor %}
</content>