
{% macro noteLinkCard(note) %}
  {% set url = note.url %}
  {% set title =  note.data.title | default('Untitled!!!') %}
  {% set tags = note.data.tags | default([]) %}
  {% set modified = note.data.modified | default('n/a') %}
  {% set created = note.data.created | default('n/a') %}
  <div
    class="card__container flex-auto container mx-auto
    border-black border-solid border-b-2 no-underline text-black"
  >
    <a href="{{ url }}" class="mx-auto no-underline text-black">
      <h3 class="mt-0">{{ title }}</h3>
      <div class="card-row__meta flex-row">
        <small><bold>Updated:</bold> {{ modified | shortDateString }},</small>
        <small><bold>Created:</bold> {{ created | shortDateString }}</small>
      </div>
    </a>
    <div class="card-row__tags flex-row">
      <span class="text-sm">tags:</span>
      {% for tag in tags %}
        <a
          href="/tags/{{ tag }}/"
          class="tag__link flex-grow bg-black text-sm px-1 py-0 no-underline text-white"
        >{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}